<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.HotelMapper">

    <insert id="save">
        INSERT INTO hotel (name, cover, address, concat_phone, vendor_id, create_time)
        VALUES (#{name}, #{cover}, #{address}, #{concatPhone}, #{vendorId},#{createTime})
    </insert>

    <update id="update">
        UPDATE hotel
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="cover != null and cover != ''">
                cover = #{cover},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="concatPhone != null and concatPhone != ''">
                concat_phone = #{concatPhone},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM hotel WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT h.*,v.name AS vendor_name
        FROM hotel h
        LEFT JOIN vendor v ON h.vendor_id = v.id
        <where>
            <if test="id != null">
                AND h.id = #{id}
            </if>
            <if test="vendorId != null">
                AND h.vendor_id = #{vendorId}
            </if>
            <if test="name != null and name != ''">
                AND h.name LIKE concat('%',#{name},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND h.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY h.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM hotel h
        <where>
            <if test="id != null">
                AND h.id = #{id}
            </if>
            <if test="vendorId != null">
                AND h.vendor_id = #{vendorId}
            </if>
            <if test="name != null and name != ''">
                AND h.name LIKE concat('%',#{name},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND h.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.vo.HotelVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="address" property="address"/>
        <result column="concat_phone" property="concatPhone"/>
        <result column="vendor_id" property="vendorId"/>
        <result column="vendor_name" property="vendorName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>